.footer {
    background: #2ea0b6;
}

.footer a {
    color: white;
}

.footer .text-muted {
    color: #c3e6ed;
}

.volume-bar {
    background: #36b0c8;
    width: 60px;
    margin: 22px 0;
}

.volume-filler {
    background: #78c3d2;
    height: 6px;
}